@import url("http://www.mozdev.org/project.css");

#main-content-no-nav ul,
#main-content ul {
  list-style-type: square;
  list-style-image: url(http://www.mozdev.org/sharedimages/bullet.gif);
  list-style-position: inside;
  padding-left: 0;
  margin-left: 0;
}

#main-content-no-nav ol,
#main-content ol {
  list-style-type: decimal;
  list-style-image: none;
  list-style-position: inside;
  padding-left: 0;
  margin-left: 0;
}

.faq-question-q
{
	font-weight:bold;
}

.faq-answer-a
{
	font-weight:bold;
}

ul.releases
{
}

.release-version
{
	font-weight:bold;
}

dl.release-defs
{
	padding-top:20px;
	padding-left:20px;
	padding-bottom:20px;
}

img.screenshot
{
	margin:3px;
	padding:2px;
	border:1px solid black;
}
