@import url("http://www.mozdev.org/project.css");

#main-content-no-nav ol,
#main-content ol {
  list-style-type: decimal;
  list-style-image: none;
  list-style-position: outside;
  padding-left: 0;
  margin-left: 0;
}
