@import url("http://www.mozdev.org/project.css");

#main-content-no-nav ul,
#main-content ul {
  list-style-type: square;
  list-style-image: url(http://www.mozdev.org/sharedimages/bullet.gif);
  list-style-position: inside;
  padding-left: 0;
  margin-left: 0;
}

#main-content-no-nav ol,
#main-content ol {
  list-style-type: decimal;
  list-style-image: none;
  list-style-position: inside;
  padding-left: 0;
  margin-left: 0;
}

ul.releases
{
}

ul.releases > li
{
	font-weight:bold;
}

dl.release-defs
{
	padding-left:20px;
	padding-bottom:20px;
}
